@import url("https://fonts.googleapis.com/css?family=Lato:700|Roboto+Slab:400,700|Roboto:300,400,700");
/*light - 300, regular - 400, bold - 700*/
.red-btn, .btn-home-form_submit, .btn-more {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ea4c58;
  border: 1px solid transparent;
  color: #fff;
  font-family: 'Roboto Slab'; }
  .red-btn:hover, .btn-home-form_submit:hover, .btn-more:hover, .red-btn:focus, .btn-home-form_submit:focus, .btn-more:focus {
    background: #f95d69; }
  .red-btn:active, .btn-home-form_submit:active, .btn-more:active {
    background: #d92d3a; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #999;
  opacity: 1; }

*:-moz-placeholder {
  color: #999;
  opacity: 1; }

*::-moz-placeholder {
  color: #999;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #999;
  opacity: 1; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  border-style: none; }

h1, h2, h3, h4, h5, h6, p, figure, li {
  margin: 0; }

img {
  border-style: none;
  display: block; }

button,
input {
  outline: none; }

input, select, textarea {
  vertical-align: middle;
  font: 100% arial, helvetica, sans-serif; }

a {
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none; }

html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  font-family: 'RobotoRegular';
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px; }

.header-home {
  background: black;
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1; }

.header-home_buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo-home {
  display: block; }
  .logo-home span {
    display: inline-block;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    display: none; }
  .logo-home img {
    display: inline-block;
    width: 100%;
    height: auto; }

.header-home_bg {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/top-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.5; }

.top-line {
  padding-top: 1vh;
  padding-bottom: 5vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.btn-top, .btn-lang, .btn-login {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.05s ease 0.1s;
  -o-transition: all 0.05s ease 0.1s;
  transition: all 0.05s ease 0.1s;
  width: 100px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  margin-left: 15px;
  text-align: center;
  border: 1px solid transparent; }

.btn-lang {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff; }
  .btn-lang:hover {
    background: rgba(255, 255, 255, 0.3); }
  .btn-lang:active {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.9); }
  .btn-lang option {
    color: #000; }

.btn-login {
  background: white;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4); }
  .btn-login i {
    color: rgba(0, 0, 0, 0.7);
    display: inline;
    margin-right: 5px; }
  .btn-login:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8); }
    .btn-login:hover i {
      color: #e8e8e8; }
  .btn-login:active {
    background: rgba(255, 255, 255, 0);
    color: #e8e8e8; }
    .btn-login:active i {
      color: #e8e8e8; }

h1 {
  color: #fff;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 50px; }

h2 {
  display: block;
  font-family: 'Roboto Slab';
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000; }

h3 {
  display: block;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
  font-style: italic; }

.home-form_box {
  background: rgba(255, 255, 255, 0.85);
  padding: 35px 25px;
  margin-bottom: 2vh;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.home-form_title {
  display: block;
  font-family: 'Roboto Slab';
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0 15px;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 15px; }
  .home-form_title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 70%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 40px;
    background-image: -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url("../img/ornament--dot.png"), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%);
    background-image: -moz-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url("../img/ornament--dot.png"), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%);
    background-image: -ms-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url("../img/ornament--dot.png"), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%);
    background-image: -o-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url("../img/ornament--dot.png"), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%);
    background-image: -webkit-gradient(linear, right top, left top, from(#dd4d46), to(#dd4d46)), url("../img/ornament--dot.png"), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%);
    background-image: -webkit-linear-gradient(right, #dd4d46 0%, #dd4d46 100%), url("../img/ornament--dot.png"), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%);
    background-image: -o-linear-gradient(right, #dd4d46 0%, #dd4d46 100%), url("../img/ornament--dot.png"), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%);
    background-image: linear-gradient(to left, #dd4d46 0%, #dd4d46 100%), url("../img/ornament--dot.png"), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%);
    background-size: 38% 1px, 50px auto, 38% 1px;
    background-repeat: no-repeat, no-repeat;
    background-position: 0 50%, 50% 50%, 100% 50%; }
  .home-form_title strong {
    font-weight: 700; }

.social-buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.home-form_social, .btn-form-facebook, .btn-form-google {
  border: 1px solid transparent;
  width: 47%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.05s ease 0.1s;
  -o-transition: all 0.05s ease 0.1s;
  transition: all 0.05s ease 0.1s;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #fff;
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .home-form_social i, .btn-form-facebook i, .btn-form-google i {
    font-size: 20px;
    margin-right: 17px; }

.btn-form-facebook {
  background: #3f4cae; }
  .btn-form-facebook:hover {
    background: rgba(63, 76, 174, 0.8); }
  .btn-form-facebook:active {
    background: #3f4cae; }

.btn-form-google {
  background: #db4437; }
  .btn-form-google:hover {
    background: rgba(219, 68, 55, 0.8); }
  .btn-form-google:active {
    background: #db4437; }

.home-form_subtitle {
  display: block;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400px;
  text-align: center;
  margin-bottom: 20px; }

.home-form {
  margin-bottom: 10px; }

.home-form_row {
  position: relative; }

.home-form_field--general, .home-form_field {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
  width: 100%;
  padding: 0 15px;
  -webkit-transition: all 0.15s ease 0.1s;
  -o-transition: all 0.15s ease 0.1s;
  transition: all 0.15s ease 0.1s; }

.home-form_error {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: #ea4c58;
  font-family: 'Roboto';
  font-weight: 300; }

.error {
  border-color: #ea4c58; }

.home-form_field:focus {
  border: 1px solid rgba(0, 0, 0, 0.4); }

.btn-home-form_submit {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Roboto Slab';
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700; }

.home-form_terms {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #000; }
  .home-form_terms a {
    text-decoration: underline;
    color: #000; }
    .home-form_terms a:hover {
      text-decoration: none; }

.flex-middle {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

.navigation-row {
  margin-top: 45px;
  margin-bottom: 150px; }

.main-nav {
  overflow: hidden; }
  .main-nav li {
    display: inline-block;
    float: left; }
    .main-nav li:last-child a:after {
      display: none; }
  .main-nav a {
    position: relative;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    color: #000;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px; }
    .main-nav a:after {
      content: '';
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      background: #ea4c58;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

.nav-social-links {
  text-align: right; }
  .nav-social-links li {
    display: inline-block;
    margin: 0 5px; }

.social-btn-common, .btn-facebook, .btn-instagram, .btn-youtube, .btn-twitter, .btn-google {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../img/social-buttons.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: all 0.15s ease 0.1s;
  -o-transition: all 0.15s ease 0.1s;
  transition: all 0.15s ease 0.1s; }
  .social-btn-common:hover, .btn-facebook:hover, .btn-instagram:hover, .btn-youtube:hover, .btn-twitter:hover, .btn-google:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

.btn-facebook {
  background-position: 0 0; }

.btn-instagram {
  background-position: -32px 0; }

.btn-youtube {
  background-position: -64px 0; }

.btn-instagram {
  background-position: -96px 0; }

.btn-twitter {
  background-position: -128px 0; }

.btn-google {
  background-position: -161px 0; }

.introduction {
  margin-bottom: 195px; }

.bordered-image, .introduction-wrap {
  background-image: url("../img/matchmaker.jpg");
  background-position: 15px 0;
  background-size: 400px auto;
  background-repeat: no-repeat; }

.introduction-wrap {
  overflow: hidden; }

.section-border {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 2px solid #f24841;
  margin-top: 45px;
  padding-top: 45px;
  padding-bottom: 100px; }

.border-content_paragraph, .gray-paragraph {
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 30px;
  color: #000; }

.gray-paragraph {
  color: #939292; }
  .gray-paragraph a {
    color: inherit;
    text-decoration: underline; }
    .gray-paragraph a:hover {
      text-decoration: none; }

.btn-more {
  font-weight: 300;
  padding: 0 50px;
  font-size: 16px;
  line-height: 50px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .introduction-wrap {
    background-size: 350px auto; }
  .main-nav a {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .introduction-wrap {
    background-size: 250px auto; }
  .section-border {
    padding-bottom: 70px; }
  .nav-social-links {
    text-align: center; }
  .nav-social-links {
    margin: 15px 0; }
  .navigation-row {
    margin-bottom: 45px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .section-border {
    margin: 0 15px;
    padding-top: 300px;
    margin-top: 40px; }
  .introduction-wrap {
    background-size: auto 300px;
    background-position: 50% 0; }
  h1 {
    font-size: 30px;
    line-height: 1.4; }
  h2 {
    font-size: 30px;
    line-height: 1.4; }
  h3 {
    font-size: 16px; }
  .home-form_title {
    font-size: 20px;
    line-height: 1.4; }
  .border-content_paragraph, .gray-paragraph {
    font-size: 16px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .btn-more {
    width: 100%; }
  .btn-top, .btn-lang, .btn-login {
    width: 70px;
    font-size: 12px;
    line-height: 25px;
    margin: 0 5px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
