$main-color: #ea4c58
$main-color-hover: #f95d69
$main-color-active: #d92d3a
$radius: 5px
$transition: .15s
$bg-right: calc(100% - 15px)
$btn-transition: .05s

=border-radius($radius)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius
    
=transition($transition)
    -webkit-transition: all $transition ease .15s
    -o-transition: all $transition ease .15s
    transition: all $transition ease .15s

=transition($btn-transition)
    -webkit-transition: all $btn-transition ease 0s
    -o-transition: all $btn-transition ease 0s
    transition: all $btn-transition ease 0s
    
.red-btn
    +border-radius($radius)
    +transition($btn-transition)
    background: $main-color
    border: 1px solid transparent
    color: #fff
    font-family: 'Roboto Slab'
    font-weight: 700
    &:hover,
    &:focus
        background: $main-color-hover
    &:active
        background: $main-color-active