@import 'fonts'
@import 'vars'
@import 'reset'

html, body
    height: 100%
    width: 100%
    
body
    margin: 0
    font-family: 'RobotoRegular'
    font-size: 18px
    line-height: 1.5
    letter-spacing: 0.5px
    min-width: 320px

.header-home
    background: rgba(0,0,0,1)
    min-height: 100vh
    width: 100%
    position: relative
    z-index: 1

.logo-home
    display: block
    span
        display: inline-block
        text-indent: -9999px
        white-space: nowrap
        overflow: hidden
        display: none
    img
        display: inline-block
        width: 100%
        height: auto
        
.header-home_bg
    display: block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 100%
    height: 100%
    z-index: -1
    background-image: url('../img/top-bg.jpg')
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: cover
    opacity: 0.5

.top-line
    padding-top: 2vh
    padding-bottom: 2vh
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    -ms-align-items: center
    align-items: center
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    
.btn-top
    +border-radius($radius)
    +transition($btn-transition, 0s)
    width: 100px
    font-family: 'Roboto'
    font-weight: 400
    font-size: 14px
    line-height: 28px
    display: inline-block
    margin-left: 15px
    text-align: center
    border: 1px solid transparent
    
.btn-lang
    @extend .btn-top
    background: transparent
    border: 1px solid rgba(255,255,255,.4)
    color: #fff
    &:hover
        background: rgba(255,255,255,.3)
    &:active
        background: rgba(255,255,255,.8)
        color: rgba(0,0,0,.9)
    option
        color: #000
        
.btn-login
    @extend .btn-top
    background: rgba(255,255,255,1)
    color: rgba(0,0,0,.7)
    cursor: pointer
    border: 1px solid rgba(255,255,255,.4)
    i
        color: rgba(0,0,0,.7)
        display: inline-block
        line-height: inherit
        margin-right: 5px
    span
        display: inline-block
    &:hover
        background: rgba(255,255,255,.3)
        color: rgba(255,255,255,.8)
        i
            color: #e8e8e8
    &:active
        background: rgba(255,255,255,0)
        color: #e8e8e8
        i
            color: #e8e8e8

h1
    color: #fff
    font-family: 'Roboto Slab'
    font-weight: 700
    font-size: 34px
    line-height: 1.5
    text-align: center
    margin-bottom: 50px
    
h2
	display: block
	font-family: 'Roboto Slab'
	font-size: 34px
	line-height: 1.4
	font-weight: 700
	margin-bottom: 20px
	color: #000

h3
    display: block
    font-family: 'Roboto'
    font-weight: 700
    font-size: 18px
    line-height: inherit
    margin-bottom: 20px
    font-style: italic

h4
    display: block
    text-align: center
    font-family: 'Roboto Slab'
    font-size: 34px
    font-weight: 700
    padding-bottom: 45px
    margin-bottom: 35px
    position: relative
    &:after
        content: ''
        position: absolute
        left: 50%
        bottom: 0
        -webkit-transform: translateX(-50%)
        -ms-transform: translateX(-50%)
        -o-transform: translateX(-50%)
        transform: translateX(-50%)
        background: url('../img/ornament--dot.png') no-repeat 0 0
        display: block
        width: 53px
        height: 25px
    
.home-form_box
    background: rgba(255,255,255,.85)
    padding: 35px 25px
    +border-radius($radius)
    
.heading-line
    display: block
    font-family: 'Roboto Slab'
    font-size: 24px
    font-weight: 400
    text-align: center
    margin: 0 15px
    padding-bottom: 40px
    position: relative
    margin-bottom: 15px
    &:after
        content: ''
        position: absolute
        left: 50%
        bottom: 0
        width: 250px
        -webkit-transform: translateX(-50%)
        -ms-transform: translateX(-50%)
        -o-transform: translateX(-50%)
        transform: translateX(-50%)
        height: 40px
        background-image: -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-image: -moz-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-image: -ms-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-image: -o-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-image: linear-gradient(to left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-size: 38% 1px, 50px auto, 38% 1px
        background-repeat: no-repeat, no-repeat
        background-position: 0 50%, 50% 50%, 100% 50%
    strong
        font-weight: 700
    &.contact-heading
        font-weight: 700
        

.social-buttons
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
        
.home-form_social
    border: 1px solid transparent
    width: 47%
    +border-radius($radius)
    +transition($btn-transition, 0s)
    font-family: 'Roboto'
    font-weight: 400
    font-size: 12px
    line-height: 38px
    letter-spacing: 0.5px
    color: #fff
    margin-bottom: 20px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -ms-align-items: center
    align-items: center
    -webkit-justify-content: center
    -moz-justify-content: center
    -ms-justify-content: center
    -o-justify-content: center
    justify-content: center
    i
        font-size: 20px
        line-height: 38px
        margin-right: 17px

.btn-form-facebook
    @extend .home-form_social
    background: #3f4cae
    &:hover
        background: rgba(63,76,174,.8)
    &:active
        background: rgba(63,76,174,1)
.btn-form-google
    @extend .home-form_social
    background: #db4437
    &:hover
        background: rgba(219,68,55,.8)
    &:active
        background: rgba(219,68,55,1)

.home-form_subtitle
    display: block
    font-size: 14px
    font-family: 'Roboto'
    font-weight: 400px
    text-align: center
    margin-bottom: 20px

.home-form
    margin-bottom: 10px
    
.home-form_row
    position: relative

.home-form_field--general
    +border-radius($radius)
    border: 1px solid transparent
    background: #fff
    font-family: 'Roboto'
    font-size: 14px
    line-height: 40px
    font-weight: 400
    color: #000
    margin-bottom: 15px
    width: 100%
    padding: 0 15px
    +transition($transition, $transition)
    
.home-form_error
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    display: block
    font-size: 11px
    line-height: 14px
    text-align: center
    color: $main-color
    font-family: 'Roboto'
    font-weight: 300

.error
    border-color: $main-color
    
.home-form_field
    @extend .home-form_field--general
    &:focus
        border: 1px solid rgba(0,0,0,.4)
    
.btn-home-form_submit
    @extend .red-btn
    width: 100%
    margin-top: 10px
    margin-bottom: 20px
    font-family: 'Roboto Slab'
    font-size: 16px
    line-height: 50px
    text-transform: uppercase
    font-weight: 700
    
.home-form_terms
    display: block
    text-align: center
    color: #fff
    font-size: 12px
    font-family: 'Roboto'
    font-weight: 300
    color: #000
    a
        text-decoration: underline
        color: #000
        &:hover
            text-decoration: none
        
.flex-middle
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -ms-align-items: center
    align-items: center
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap

.content-home
    overflow: hidden
    
.navigation-row
    margin-top: 45px
    margin-bottom: 150px
    
.main-nav
    overflow: hidden
    +transition($transition, 0s)
    li
        display: inline-block
        float: left
        &:last-child
            a:after
                display: none
    a
        position: relative
        display: inline-block
        padding-right: 30px
        padding-left: 30px
        color: #000
        font-family: 'Lato'
        font-weight: 700
        font-size: 20px
        &:after
            content: ''
            position: absolute
            display: block
            width: 5px
            height: 5px
            background: $main-color
            right: 0
            top: 50%
            -webkit-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            transform: translateY(-50%)
    &.active
        height: 300px
        
.row-nav-btn
    width: 100%
    position: relative
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    -ms-align-items: center
    align-items: center
    cursor: pointer
    padding-bottom: 15px
    border-bottom: 1px solid rgba(0,0,0,.3)
    display: none
    i
        color: rgba(0,0,0,.5)
        
.btn-main-nav_hold
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -ms-align-items: center
    align-items: center
    strong
        display: inline-block
        margin-left: 10px
        font-family: 'Roboto'
        font-weight: 700
        color: rgba(0,0,0,.5)
        text-transform: uppercase
        font-size: 15px

.btn-main-nav
    display: none
    position: relative
    width: 40px
    height: 30px
    background-image: -webkit-linear-gradient(left, $main-color, $main-color)
    background-image: -moz-linear-gradient(left, $main-color, $main-color)
    background-image: -ms-linear-gradient(left, $main-color, $main-color)
    background-image: -o-linear-gradient(left, $main-color, $main-color)
    background-image: linear-gradient(left, $main-color, $main-color)
    background-color: transparent
    background-position: 0 50%
    background-size: 100% 5px
    background-repeat: no-repeat
    border: none
    padding: 0
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    -webkit-display: flex
    -moz-display: flex
    -ms-display: flex
    -o-display: flex
    display: flex
    -ms-align-items: center
    align-items: center
    +transition($transition, $transition)
    &:before,
    &:after
        +transition(.3s, 0s)
        content: ''
        position: absolute
        background: $main-color
        width: 100%
        height: 5px
        left: 0
    &:before
        top: 0
    &:after
        top: 100%
        -webkit-transform: translateY(-100%)
        -ms-transform: translateY(-100%)
        -o-transform: translateY(-100%)
        transform: translateY(-100%)
    &.active
        &:after,
        &:before
            background-color: $main-color-hover
            top: 50%
            -webkit-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            transform: translateY(-50%)
        
.nav-social-links
    text-align: right
    li
        display: inline-block
        margin: 0 5px
        
.social-btn-common
    display: inline-block
    width: 32px
    height: 32px
    background-image: url('../img/social-buttons.png')
    background-repeat: no-repeat
    background-position: 0 0
    +transition(.15s, 0s)
    &:hover
        -webkit-transform: scale(1.2)
        -ms-transform: scale(1.2)
        -o-transform: scale(1.2)
        transform: scale(1.2)

.btn-facebook
    @extend .social-btn-common
    background-position: 0 0

.btn-instagram
    @extend .social-btn-common
    background-position: -32px 0
    
.btn-youtube
    @extend .social-btn-common
    background-position: -64px 0
    
.btn-instagram
    @extend .social-btn-common
    background-position: -96px 0
    
.btn-twitter
    @extend .social-btn-common
    background-position: -128px 0
    
.btn-google
    @extend .social-btn-common
    background-position: -161px 0

.bordered-image
    background-size: 400px auto
    background-repeat: no-repeat
    overflow: hidden

.intro
    @extend .bordered-image
    background-image: url('../img/matchmaker.jpg')
    background-position: 15px 0
    
.our-team
    @extend .bordered-image
    background-image: url('../img/urb-founder.jpg')    
    background-position: $bg-right 0
    position: relative
    
.tours-home
    @extend .bordered-image
    background-image: url('../img/tour-01.jpg')    
    background-position: $bg-right 0
    position: relative

.coaching
    @extend .bordered-image
    background-image: url('../img/coaching.jpg')
    background-position: 15px 0
    background-size: 520px auto

.content-section
    margin-bottom: 100px
    
.section-border
    +border-radius(7px)
    border: 2px solid #f24841
    margin-top: 45px
    padding-top: 45px
    padding-bottom: 60px
    position: relative

.section-border_content
    // margin-bottom: 100px
    
.border-content_paragraph
    font-family: 'Roboto' 
    font-weight: 400
    margin-bottom: 30px
    color: rgba(0,0,0,.90)
    
.gray-paragraph
    @extend .border-content_paragraph
    color: #939292
    a
        color: inherit
        text-decoration: underline
        &:hover
            text-decoration: none

.btn-more
    @extend .red-btn
    padding: 0 50px
    font-size: 16px
    line-height: 50px
        
.team-heading
    margin-bottom: 50px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -ms-align-items: center
    align-items: center
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    img
        width: 100%
        height: auto
    h3
        margin-bottom: 0

.ico-text
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: center
    -moz-justify-content: center
    -ms-justify-content: center
    -o-justify-content: center
    justify-content: center
    -ms-align-items: center
    align-items: center
    strong
        display: inline-block
        font-family: 'Roboto'
        font-weight: 700
        font-size: 24px
        color: #fff
        text-align: left
    img
        display: inline-block
        margin-right: 35px
        
.banner-row_wrap
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -ms-align-items: center
    align-items: center
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    
.banner-row
    width: 100%
    position: relative
    padding: 45px 0
    background: -webkit-linear-gradient(left, #acbeee, #c296ba)
    z-index: 1
    margin-bottom: 90px
    &:after
        content: ''
        position: absolute
        left: 0
        top: 0
        bottom: 0
        right: 0
        width: 100%
        z-index: -1
        background-image: url('../img/photo-row-01.jpg')
        background-repeat: no-repeat
        background-position: 50% 0
        background-size: cover
        opacity: 0.1
 
.btn-chat
    @extend .red-btn
    font-size: 16px
    line-height: 22px
    padding: 15px 45px
        
.certificate-img
    position: absolute
    left: 47%
    top: 140px
    display: none
    width: 180px
    height: 180px
    z-index: 1
    
.ornament-heading
    padding-bottom: 45px
    background: url('../img/ornament--dot.png') no-repeat 0 100%

.paragraphs-section
	margin: 80px 0

.coaching,
.paragraphs-section
	.border-content_paragraph
		margin-bottom: 15px

.paragraph-section_box
	margin-bottom: 45px	

.girls-online_counter
    display: inline-block
    font-family: 'Roboto'
    font-weight: 700
    font-size: 14px
    line-height: 20px
    position: relative
    padding-left: 15px
    &:before
        content: ''
        display: block
        position: absolute
        left: 0
        top: 50%
        width: 10px
        height: 10px
        background: #4ed947
        border-radius: 100%
        -webkit-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        transform: translateY(-50%)

.girls-online_ornament
    display: block
    font-family: 'Roboto Slab'
    font-size: 16px
    font-weight: 700
    text-align: center
    padding-top: 35px
    position: relative
    margin-bottom: 15px
    &:after
        content: ''
        position: absolute
        left: 50%
        top: 0
        width: 85%
        -webkit-transform: translateX(-50%)
        -ms-transform: translateX(-50%)
        -o-transform: translateX(-50%)
        transform: translateX(-50%)
        height: 40px
        background-image: -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-image: -moz-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-image: -ms-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-image: -o-linear-gradient(left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-image: linear-gradient(to left, #dd4d46 0%, #dd4d46 100%), url('../img/ornament--dot.png'), -webkit-linear-gradient(left, #dd4d46 0%, #dd4d46 100%)
        background-size: 33% 1px, 40px auto, 33% 1px
        background-repeat: no-repeat, no-repeat
        background-position: 0 50%, 50% 50%, 100% 50%
    strong
        font-weight: 700

.girls-online_content
    display: inline-block
    font-size: 14px
    line-height: 22px
    font-family: 'Roboto'
    font-weight: 300
    margin-bottom: 45px

.btn-girls-online
    display: inline-block
    background-color: transparent
    color: #fff
    +border-radius($radius)
    font-size: 14px
    line-height: 33px
    border: 1px solid #fff
    padding: 0 25px
    &:hover
        background-color: rgba(255,255,255,.3)
    &:active
        background-color: rgba(255,255,255,1)
        color: #000

.ladies-row
    margin-bottom: 100px
    
.ladies-profiles
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: center
    -moz-justify-content: center
    -ms-justify-content: center
    -o-justify-content: center
    justify-content: center
    -ms-align-items: center
    align-items: center
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    
.ladies-box
    color: #fff
    -webkit-flex-basis: 210px
    -moz-flex-basis: 210px
    -ms-flex-basis: 210px
    -o-flex-basis: 210px
    flex-basis: 210px
    +transition($transition, $transition)
    +border-radius(7px)
    position: relative
    margin: 0 15px 50px 15px
    
.girls-online
    @extend .ladies-box
    background-color: #3f4cae
    padding: 35px 20px
    
.profile-block
    @extend .ladies-box
    img
        width: 100%
        height: auto
        +border-radius(7px)
    &:hover
        .profile-block_info
            height: 115px
            bottom: -40px


.profile-block_info
    position: absolute
    overflow: hidden
    bottom: 0
    height: 65px
    left: 0
    width: 100%
    background-color: $main-color
    background-image: url('../img/orn-white.png')
    background-repeat: repeat-x
    background-position: 0 -4px
    padding: 15px 0 10px 0
    text-align: center
    +border-radius(0 0 7px 7px)
    +transition($transition, $transition)
    z-index: 1
    .btn-girls-online
        margin-top: 15px
    strong
        display: block
        text-align: center
        font-family: 'Roboto Slab'
        font-weight: 700
        font-size: 16px
        line-height: 18px
        margin-bottom: 5px
    span
        display: block
        font-size: 14px
        line-height: 16px
        font-family: 'Roboto'
        font-weight: 300
        text-align: center
        em
            font-style: normal
        

/* upcoming tours */
.upcoming
    padding-top: 100px

.upcoming-box
    height: 100%
    min-height: 450px
    display: block
    border: 3px solid #fd8891
    border-radius: 7px
    margin-bottom: 25px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-flex-direction: column
    -moz-flex-direction: column
    -ms-flex-direction: column
    -o-flex-direction: column
    flex-direction: column
    &:hover
        .upcoming-img
            width: 100%

.upcoming-img 
    position: relative
    height: 200px
    width: 107%
    overflow: hidden
    +transition($transition, $transition)
    img
        position: absolute
        left: 0
        top: 0
        z-index: -1
        width: 100%
        height: auto

.upcoming-header 
    background: #ea4c58

.upcoming-header
    p 
        display: block
        text-transform: uppercase
        font-size: 14px
        line-height: 20px
        color: #fff
        font-family: 'RobotoSlabBold'
        padding: 15px 0 15px 21px

.header-top 
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    -ms-align-items: center
    align-items: center
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    margin-bottom: 70px

.upcoming-row
    margin-bottom: 100px
    
.upcoming-content 
    padding: 30px 15px
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    -webkit-flex-direction: column
    -moz-flex-direction: column
    -ms-flex-direction: column
    -o-flex-direction: column
    flex-direction: column
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    justify-content: space-between
    min-height: 190px
    p
        display: block
        font-family: 'Roboto'
        font-weight: 400
        color: #797979
        font-size: 14px
        line-height: 20px

.upcoming-box.coming-soon .upcoming-header
    background-color: transparent

.upcoming-box.coming-soon .upcoming-header p 
    color: #ea4c58

.btn-notify-hold 
    display: block
    text-align: center

.btn-notify 
    display: inline-block
    font-family: 'Roboto'
    font-weight: 400
    color: #3f4cae
    padding: 0 55px
    font-size: 14px
    line-height: 36px
    border: 1px solid #3f4cae
    border-radius: 7px
    background: none


.btn-notify
    &:hover
        color: #fff
        background-color: #3f4cae

.last-upcoming-title
    display: block
    text-align: center
    font-family: '18px'
    line-height: 1.5
    font-family: 'Roboto Slab'
    font-weight: 700
/* upcoming tours END*/

.coaching-cons
    margin-bottom: 60px
    margin-left: 25px
    a
        text-decoration: underline
        color: #000
        &:hover
            text-decoration: none
    li
        display: block
        color: #000
        font-family: 'Roboto'
        font-weight: 400
        font-size: 18px
        line-height: 1.5
        margin-bottom: 15px
        padding-left: 25px
        position: relative
        &:after
            content: ''
            position: absolute
            top: 50%
            left: 0
            -webkit-transform: translateY(-50%)
            -ms-transform: translateY(-50%)
            -o-transform: translateY(-50%)
            transform: translateY(-50%)
            background: #000
            width: 11px
            height: 11px
            background: url('../img/list-mark.png') no-repeat 0 0
    
/* contact us styles section */
.contact
    padding-top: 60px

.contact-subheading
    display: block
    text-align: center
    font-family: "Roboto"
    font-weight: 400
    color: #292827
    font-size: 18px
    line-height: 28px
    width: 60%
    margin: 0 auto 80px

.contact-form_hold
    margin-bottom: 115px

.contact-form
    padding: 50px 55px
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.15)

.contact-title
    &:after
        content: ''
        display: block
        position: absolute
        background: url("../img/heading-ornament.png") no-repeat 0 100%
        bottom: 0
        left: 50%
        width: 170px
        height: 25px
        -webkit-transform: translateX(-50%)
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%)
        transform: translateX(-50%)

.form-input
    font-size: 16px
    line-height: 30px
    padding: 0 10px
    font-family: "Roboto"
    font-weight: 300
    margin-bottom: 30px
    border: none
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    width: 100%
    outline: none
    position: relative

textarea.form-input
    resize: none
    max-height: 100px

.form-input:focus
    color: 1px solid rgba(0, 0, 0, 0.9)
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)

.form-row_hold
    position: relative

.form-row_hold
    .error-message
        content: ''
        width: 100%
        height: 20px
        bottom: 10px
        left: 0
        right: 0
        position: absolute
        display: block
        font-size: 12px
        line-height: 14px
        color: red
        z-index: 100
        display: -webkit-flex
        display: -moz-flex
        display: -ms-flex
        display: -o-flex
        display: -ms-flexbox
        display: flex
        -webkit-justify-content: center
        -moz-justify-content: center
        -ms-justify-content: center
        -o-justify-content: center
        -ms-flex-pack: center
        justify-content: center
        -ms-align-items: center
        -webkit-align-items: center
        -ms-flex-align: center
        align-items: center
        &:empty 
            display: none

.form-input.error
    border-bottom-color: #ea4c58
    color: #ea4c58

.form-subtitle
    color: #717171
    font-family: "Roboto"
    font-weight: 300
    font-size: 16px
    line-height: 18px
    margin-top: 35px
    margin-bottom: 35px
    text-align: center
    letter-spacing: 0.7px

.checkbox-holder
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -ms-flexbox
    display: flex
    -webkit-justify-content: center
    -moz-justify-content: center
    -ms-justify-content: center
    -o-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    -ms-align-items: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    -webkit-flex-wrap: wrap
    -moz-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -o-flex-wrap: wrap
    flex-wrap: wrap
    margin-bottom: 30px

.checkbox-item
    margin: 0 15px
    position: relative
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -ms-flexbox
    display: flex
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between
    -ms-align-items: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center

.checkbox-item
    label
        margin: 0
        font-family: "Roboto Slab"
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #717171
        letter-spacing: 0.7px

.checkbox-item input[type="checkbox"]
    margin: 0

.checkbox-item_hold
    width: 13px
    position: relative
    margin-right: 10px

.check-label
    border: 2px solid #bfbfbf
    width: 13px
    height: 14px
    cursor: pointer
    position: absolute
    top: 50%
    left: 0
    margin: 0
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    transform: translateY(-50%)
    &:after
        content: ''
        width: 9px
        height: 5px
        position: absolute
        top: 2px
        left: 1px
        border: 3px solid #44b759
        border-top: none
        border-right: none
        background: transparent
        opacity: 0
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        transform: rotate(-45deg)

.check-label:hover::after 
    opacity: 0.3

input[type='checkbox'] 
    visibility: hidden

input[type='checkbox']:checked + label:after
    opacity: 1

.preferred-method
    margin-bottom: 40px

.contact-us-form
    text-align: center

.btn-custom
    display: inline-block
    font-size: 16px
    padding: 13px 50px

.success
    display: none
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 100%
    height: 0
    overflow: hidden
    background: -webkit-linear-gradient(top, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
    background: -moz-linear-gradient(top, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
    background: -ms-linear-gradient(top, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
    background: -o-linear-gradient(top, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
    background: linear-gradient(to bottom, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
    z-index: 101
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -ms-flexbox
    display: flex
    -webkit-justify-content: center
    -moz-justify-content: center
    -ms-justify-content: center
    -o-justify-content: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-flex-direction: column
    -moz-flex-direction: column
    -ms-flex-direction: column
    -o-flex-direction: column
    flex-direction: column
    -ms-align-items: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    -webkit-transition: height .5s
    -o-transition: height .5s
    transition: height .5s

.success p
    display: block
    font-family: "Roboto Slab"
    font-weight: 400
    color: #fffefe
    font-size: 24px
    line-height: 35px

.success img
    margin-top: 60px

.success.active
    height: 100%
/* contact us styles section END */

/* join us section */
.join-us_hold
    background: #3f4cae
    width: 100%
    padding: 55px 0

.join-us_hold .btn-tour
    width: 180px

.join-us
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: -ms-flexbox
    display: flex
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-justify-content: space-between
    -o-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between
    -ms-align-items: center
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center

.join-us-title
    font-size: 36px
    line-height: 38px
    color: #fff
    font-family: 'Roboto Slab'
    font-weight: 300
/* join us section END */

/* footer / page bottom section */
.footer-hold
    background: #eee
    padding-top: 40px

.footer-nav-title
    font-family: "Roboto Slab"
    font-weight: 700
    font-size: 16px
    line-height: 18px

.footer-nav
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: -ms-flexbox
  display: flex
  -webkit-justify-content: space-between
  -moz-justify-content: space-between
  -ms-justify-content: space-between
  -o-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -ms-align-items: flex-start
  -webkit-align-items: flex-start
  -ms-flex-align: start
  align-items: flex-start
  -webkit-flex-wrap: wrap
  -moz-flex-wrap: wrap
  -ms-flex-wrap: wrap
  -o-flex-wrap: wrap
  flex-wrap: wrap

.footer-nav_col li
  margin-bottom: 10px

.footer-nav_col li a
  padding-left: 24px
  font-family: 'RobotoLight'
  font-size: 16px
  line-height: 18px
  color: #000
  position: relative

.footer-nav_col li a:before
  content: ''
  width: 5px
  height: 5px
  background-color: #ea4c58
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%) rotate(45deg)
  -ms-transform: translateY(-50%) rotate(45deg)
  -o-transform: translateY(-50%) rotate(45deg)
  transform: translateY(-50%) rotate(45deg)
  margin: 0 auto
  display: inline-block
  left: 0
  -webkit-transition: all .15s
  -o-transition: all .15s
  transition: all .15s

.footer-nav_col li a:hover
  color: #000

.footer-nav_col li a:hover:before
  width: 10px
  height: 10px
  -webkit-transform: translateY(-50%) translateX(0px) rotate(0deg)
  -ms-transform: translateY(-50%) translateX(0px) rotate(0deg)
  -o-transform: translateY(-50%) translateX(0px) rotate(0deg)
  transform: translateY(-50%) translateX(0px) rotate(0deg)
  border-radius: 100px

.footer-logo_hold
  text-align: right


.footer-logo
  display: inline-block
  text-align: center
  margin: 0 auto

.footer-logo img
  margin: 0 auto
  display: inline-block

.footer-top
  margin-bottom: 40px

.footer-phone
    color: #ea4c58
    font-size: 24px
    line-height: 26px
    font-family: 'Roboto Slab'
    font-weight: 700

.policy-nav li
  display: inline-block

.policy-nav li a
  color: #3f4cae
  font-size: 14px
  line-height: 16px
  text-decoration: underline
  margin: 0 10px

.policy-nav li a:hover
  text-decoration: none

.footer-bottom
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: -ms-flexbox
  display: flex
  -webkit-justify-content: space-between
  -moz-justify-content: space-between
  -ms-justify-content: space-between
  -o-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  -ms-align-items: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  margin-bottom: 40px

.footer-bottom .social-buttons_link 
  margin: 0 10px

.page-bottom
  background: #000
  color: #fff
  text-align: center
  padding: 15px 0
  font-family: 'RobotoLight'
  font-size: 12px
  line-height: 14px

.success 
  display: none
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  height: 0
  overflow: hidden
  background: -webkit-linear-gradient(top, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
  background: -moz-linear-gradient(top, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
  background: -ms-linear-gradient(top, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
  background: -o-linear-gradient(top, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
  background: linear-gradient(to bottom, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
  z-index: 101
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: -ms-flexbox
  display: flex
  -webkit-justify-content: center
  -moz-justify-content: center
  -ms-justify-content: center
  -o-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-flex-direction: column
  -moz-flex-direction: column
  -ms-flex-direction: column
  -o-flex-direction: column
  flex-direction: column
  -ms-align-items: center
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  -webkit-transition: height .5s
  -o-transition: height .5s
  transition: height .5s

.success p
    display: block
    font-family: "Roboto Slab"
    font-weight: 300
    color: #fffefe
    font-size: 24px
    line-height: 35px

.success img
  margin-top: 60px

.success.active
  height: 100%

/* footer / page bottom section END */


@import 'media'
    
